# Root editor config file
root = true

# Common settings
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# python, js indentation settings (tabs, to match ruff/prettier formatting)
[{*.py,*.js,*.css,*.scss,*.html}]
indent_style = tab
max_line_length = 110

# JSON files - mostly doctype schema files
[{*.json}]
insert_final_newline = false
indent_style = space
indent_size = 1

# YAML does not allow tabs
[{*.yml,*.yaml}]
indent_style = space
indent_size = 2
